* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

@keyframes app-name {
  0% {

    color: red;
  }

  50% {

    color: black;
  }

  100% {

    color: aqua;
  }
}

body {
  height: 100%;
  width: 100%;
  background-color: #fff;
  position: relative;
}

:root {
  --shadow-size: clamp(1rem, 1vw, 4rem);
  --shadow-spread: clamp(0.2rem, 0.4vw, 4rem);
  --shadow-blur: clamp(0.2rem, 0.5vw, 4rem);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes app-about {
  0% {
    color: blue;
  }

  50% {
    color: #32cd32;
  }

  100% {
    color: red;
  }
}

input[type="checkbox"] {
  width: clamp(12px, 5vw, 200px);
  outline: none;
  height: clamp(12px, 5vh, 200px);
  border: none;
  margin-left: clamp(1rem, 1vw, 6rem);
  margin-top: clamp(0.2rem, 1vw, 1rem);
  margin-bottom: clamp(0.2rem, 1vw, 0.1rem);
}

input[type="checkbox"]:checked {
  border: none;
  outline: none;
  accent-color: #32cd32;
}

/* boxes */
.app-requirements-box {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 2%;
  
}

.app-platformtool-box {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 2%;
  
}

.app-adbconnection-box {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 2%;
  
}

.app-termuxadbconnection-box {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 2%;
  
}

/* verification-container*/
.platformtool-verification {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.adbconnection-verification {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.termuxadbconnection-verification {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* verified */
/* all box-containers*/
.app-requirements {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-adbconnection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-platformtool {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-termuxadbconnection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* status-containers*/
.requirements-completed {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.platformtool-installed {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.adbconnection-connected {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.termuxadbconnection-connected {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

/*status*/
#R-status {
  text-transform: uppercase;
  width: fit-content;
  height: fit-content;
  font-weight: bolder;
  font-size: clamp(0.7rem, 4vw, 4rem);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: none;
  font-weight: bolder;
}

#P-status {
  text-transform: uppercase;
  width: fit-content;
  height: fit-content;
  font-weight: bolder;
  font-size: clamp(0.7rem, 4vw, 4rem);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: none;
  font-weight: bolder;
}

#A-status {
  text-transform: uppercase;
  width: fit-content;
  height: fit-content;
  font-weight: bolder;
  font-size: clamp(0.7rem, 4vw, 4rem);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: none;
  font-weight: bolder;
}

#T-status {
  text-transform: uppercase;
  width: fit-content;
  height: fit-content;
  font-weight: bolder;
  font-size: clamp(0.7rem, 4vw, 4rem);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: none;
  font-weight: bolder;
}

/* aestrisk symbol with status */
#R-status::after {
  content: "*";
  color: black;
  font-size: clamp(0.8rem, 4vw, 6rem);
}

#R-status::before {
  content: "*";
  color: black;
  font-size: clamp(0.8rem, 4vw, 6rem);
}

#P-status::after {
  content: "*";
  color: black;
  font-size: clamp(0.8rem, 4vw, 6rem);
}

#P-status::before {
  content: "*";
  color: black;
  font-size: clamp(0.8rem, 4vw, 6rem);
}

#A-status::after {
  content: "*";
  color: black;
  font-size: clamp(0.8rem, 4vw, 6rem);
}

#A-status::before {
  content: "*";
  color: black;
  font-size: clamp(0.8rem, 4vw, 6rem);
}

#T-status::after {
  content: "*";
  color: black;
  font-size: clamp(0.8rem, 4vw, 6rem);
}

#T-status::before {
  content: "*";
  color: black;
  font-size: clamp(0.8rem, 4vw, 6rem);
}

/* animation on requirements completed on requirements box*/
@keyframes reqBox {
  0% {
    box-shadow: 0 0 0px 5px #32cd32;
  }

  50% {
    box-shadow: 0 0 0px 2px #32cd32;
  }

  100% {
    box-shadow: 0 0 0px 5px #32cd32;
  }
}

@keyframes Status {
  0% {
    color: blue;
    transform: translateX(-5px);
  }

  50% {
    color: blue;
    transform: translateX(5px);
  }

  100% {
    color: blue;
    transform: translateX(-5px);
  }
}

@keyframes NoStatus {
  0% {
    color: red;
    transform: translateX(-5px);
  }

  50% {
    color: red;
    transform: translateX(5px);
  }

  100% {
    color: red;
    transform: translateX(-5px);
  }
}

/*PHONES*/
@media (min-width: 320px) and (max-width: 479px) {
  #cs {
    width: 100%;
    height: max-content;
    color: black;
    text-transform: uppercase;
    font-size: clamp(1rem, 2vw, 5rem);
    text-align: center;
    padding: clamp(.4rem, .8vw, 1rem);
    font-weight: bolder;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .contactsContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: clamp(100px, 2vw, 200px);
    margin-bottom: 1.2rem, 1vw, 3rem;
    background-color: white;
  }

  .contactUs {
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 13px 0px #000;
    border-radius: 10%;
  }

  .myAccounts {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .socialsAccounts {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
  }

  .links {
    text-decoration: none;
    height: max-content;
    width: max-content;
  }

  .logo {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(2rem, 10vw, 20rem);
    height: 100%;
    width: 100%;
  }

  #fb-logo {
    color: blue;
  }

  #ig-logo {
    color: #eb035c
  }

  #github-logo {
    color: black;
  }

  #linkedin-logo {
    color: blue;
  }

  #yt-logo {
    color: red;
  }

  .boxes {
    width: 95%;
    margin-bottom: clamp(1.2rem, 4vw, 5rem);
    border: clamp(.1rem, .3vw, 1rem) solid #000;
    border: 10%;
  }

  input[type="checkbox"] {
    width: clamp(12px, 6vw, 200px);
    outline: none;
    height: clamp(12px, 6vh, 200px);
    margin-left: clamp(1rem, 1vw, 6rem);
    margin-top: clamp(0.2rem, 1vw, 1rem);
    margin-bottom: clamp(0.2rem, 1vw, 0.1rem);
  }

  input[type="checkbox"]:checked {
    border: none;
    outline: none;
    accent-color: #32cd32;
  }

  .link {
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    position: relative;
    left: clamp(1.2rem, 1vw, 10rem);
    font-size: clamp(1.2rem, 1.2vw, 10rem);
    display: none;
  }

  .app-name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: yellow;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: clamp(1.4rem, 7.5vw, 9rem);
    box-shadow: 0px 0px 10px 0px #000;
  }

  .appname {
    animation: app-name 3s ease-in-out infinite both;
  }

  @keyframes app-name {
    0% {

      color: red;
    }

    50% {

      color: black;
    }

    100% {

      color: aqua;
    }
  }

  .app-about {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: clamp(1rem, 4.7vw, 8rem);
    animation: app-about 1s ease-in-out infinite;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 0px #000;
  }

  .note {
    width: 100%;
    padding: clamp(.212rem, .4vw, .8rem);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.6rem, 3.5vw, 7rem);
    color: red;
    font-weight: bolder;
    margin-bottom: 20px;
  }

  .requirements-title {
    color: black;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.8rem, 3.2vw, 6rem);
    padding-top: clamp(0.2rem, 0.5vw, 0.9rem);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .platformtool-title {
    color: black;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.8rem, 3.2vw, 6rem);
    padding-top: clamp(0.2rem, 0.5vw, 0.9rem);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .adbconnection-title {
    color: black;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.8rem, 3.2vw, 6rem);
    padding-top: clamp(0.2rem, 0.5vw, 0.9rem);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .termuxadbconnection-title {
    color: black;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.8rem, 3.2vw, 6rem);
    padding-top: clamp(0.3rem, 0.8vw, 0.9rem);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  /* title asterisks */
  .requirements-title::after {
    content: "*";
    color: red;
    font-size: clamp(1rem, 4.2vw, 5rem);
  }

  .platformtool-title::after {
    content: "*";
    color: red;
    font-size: clamp(1rem, 4.2vw, 5rem);
  }

  .adbconnection-title::after {
    content: "*";
    color: red;
    font-size: clamp(1rem, 4.2vw, 5rem);
  }

  .termuxadbconnection-title::after {
    content: "*";
    font-size: clamp(1rem, 4.2vw, 5rem);
    color: red;
  }

  .yesNo {
    width: clamp(15%, 1vw, 18%);
    border-radius: 10%;
    margin: 5px;
    padding: clamp(.1rem, .3vw, 2rem);
    border: clamp(.089rem, .3vw, .4rem) solid black;
    font-size: clamp(0.7rem, 3.6vw, 5rem);
    outline: none;
    text-align: center;
  }

  .requirements span {
    text-align: left;
    font-size: clamp(0.3rem, 3.942vw, 6rem);
    text-transform: lowercase;
    padding: 10px;
  }

  .platformtool span {
    text-align: left;
    font-size: clamp(0.3rem, 3.79vw, 6rem);
    text-transform: lowercase;
    padding: 10px;
  }

  .adbconnection span {
    text-align: left;
    font-size: clamp(0.3rem, 3.56vw, 6rem);
    text-transform: lowercase;
    padding: 10px;
  }

  .termuxadbconnection span {
    text-align: left;
    font-size: clamp(0.3rem, 3.28vw, 6rem);
    text-transform: lowercase;
    padding: 10px;
  }
}

@media (min-width: 480px) and (max-width: 1280px) {
  #cs {
    width: 100%;
    height: max-content;
    color: black;
    text-transform: uppercase;
    font-size: clamp(1rem, 4vw, 5rem);
    text-align: center;
    padding: clamp(.4rem, .8vw, 1rem);
    font-weight: bolder;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .contactsContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: clamp(100px, 13vh, 200px);
    margin-bottom: 1.2rem, 1vw, 3rem;
    background-color: white;
  }

  .contactUs {
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 13px 0px #000;
    border-radius: 10%;
  }

  .myAccounts {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .socialsAccounts {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
  }

  .links {
    text-decoration: none;
    height: max-content;
    width: max-content;
  }

  .logo {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(2rem, 10vw, 20rem);
    height: 100%;
    width: 100%;
  }

  #fb-logo {
    color: blue;
  }

  #ig-logo {
    color: #eb035c
  }

  #github-logo {
    color: black;
  }

  #linkedin-logo {
    color: blue;
  }

  #yt-logo {
    color: red;
  }

  .boxes {
    width: 95%;
    margin-bottom: clamp(1.2rem, 4vw, 5rem);
    border: clamp(.1rem, .3vw, 1rem) solid #000;
    border: 10%;
  }

  input[type="checkbox"] {
    width: clamp(12px, 6vw, 200px);
    outline: none;
    height: clamp(12px, 6vh, 200px);
    margin-left: clamp(1rem, 1vw, 6rem);
    margin-top: clamp(0.2rem, 1vw, 1rem);
    margin-bottom: clamp(0.2rem, 1vw, 0.1rem);
  }

  input[type="checkbox"]:checked {
    border: none;
    outline: none;
    accent-color: #32cd32;
  }

  .link {
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    position: relative;
    left: clamp(1.2rem, 1.4vw, 10rem);
    font-size: clamp(2rem, 3vw, 10rem);
    display: none;
  }

  .app-name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 4px;
    box-shadow: 1px 0px 0px 0px red inset, -1px 0px 0px 0px red inset, 0px 1px 0px 0px red inset, 0px -1px 0px 0px red inset;
    text-transform: uppercase;
    margin-bottom: clamp(1.5rem, 3.2vw, 4rem);
    font-size: clamp(1rem, 7.3vw, 8rem);
    background-color: yellow;
    box-shadow: 0px 0px 20px 0px #000;
  }

  .appname {
    animation: app-name 1s ease-in-out infinite both;
  }

  @keyframes app-name {
    0% {

      color: red;

    }

    50% {

      color: black;

    }

    100% {

      color: aqua;

    }
  }

  .app-about {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: clamp(0.8rem, 4.6vw, 6rem);
    animation: app-about 1s ease-in-out infinite;
    box-shadow: 0px 0px 20px 0px #000;
    margin-bottom: clamp(1.5rem, 3.2vw, 4rem);
  }

  .note {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.7rem, 3.62vw, 7rem);
    color: red;
    font-weight: bolder;
    margin-bottom: clamp(1.5rem, 3.2vw, 4rem);
  }

  .requirements-title {
    color: black;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.9rem, 3.1vw, 6rem);
    padding-top: clamp(0.2rem, 0.2vw, 0.9rem);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .platformtool-title {
    color: black;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.9rem, 3.1vw, 6rem);
    padding-top: clamp(0.2rem, 0.2vw, 0.9rem);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .adbconnection-title {
    color: black;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.9rem, 3.1vw, 6rem);
    padding-top: clamp(0.2rem, 0.2vw, 0.9rem);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .termuxadbconnection-title {
    color: black;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.9rem, 3.1vw, 6rem);
    padding-top: clamp(0.2rem, 0.2vw, 0.9rem);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  /* title asterisks */
  .requirements-title::after {
    content: "*";
    color: red;
    font-size: clamp(1rem, 4.1vw, 5rem);
  }

  .platformtool-title::after {
    content: "*";
    color: red;
    font-size: clamp(1rem, 4.1vw, 5rem);
  }

  .adbconnection-title::after {
    content: "*";
    color: red;
    font-size: clamp(1rem, 4.1vw, 5rem);
  }

  .termuxadbconnection-title::after {
    content: "*";
    font-size: clamp(1rem, 4.1vw, 5rem);
    color: red;
  }

  .yesNo {
    width: clamp(15%, 1vw, 18%);
    border-radius: 10%;
    margin: 5px;
    padding: clamp(.1rem, .3vw, 2rem);
    border: clamp(.089rem, .3vw, .4rem) solid black;
    font-size: clamp(0.7rem, 3.6vw, 5rem);
    outline: none;
    text-align: center;
  }

  .requirements span {
    text-align: left;
    font-size: clamp(0.3rem, 4.23vw, 6rem);
    text-transform: lowercase;
    padding: 10px;
  }

  .platformtool span {
    text-align: left;
    font-size: clamp(0.3rem, 3.83vw, 6rem);
    text-transform: lowercase;
    padding: 10px;
  }

  .adbconnection span {
    text-align: left;
    font-size: clamp(0.3rem, 3.65vw, 6rem);
    text-transform: lowercase;
    padding: 10px;
  }

  .termuxadbconnection span {
    text-align: left;
    font-size: clamp(0.3rem, 3.2vw, 6rem);
    text-transform: lowercase;
    padding: 10px;
  }
}

@media (min-width: 1280px) and (max-width: 1920px) {
  #cs {
    width: 100%;
    height: max-content;
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .contactsContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
  }

  .contactUs {
    width: 60%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 20px 0px #000;
    border-radius: 20%;
  }

  .myAccounts {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .links {
    text-decoration: none;
    width: 20%;
    height: 100%;
  }

  .socialsAccounts {
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
  }

  .logo {
    font-size: 40px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: fit-content;
    width: 100%;
  }

  #fb-logo {
    color: blue;
  }

  #ig-logo {
    color: hwb(346 30% 11%);
  }

  #github-logo {
    color: black;
  }

  #linkedin-logo {
    color: #0a61ec;
  }

  #yt-logo {
    color: red;
  }

  .boxes {
    width: 40%;
    margin-bottom: clamp(1.8rem, 5vw, 8rem);
    border: clamp(.1rem, .2vw, .4rem) solid #000;
    border: 20%;
  }

  .link {
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    position: relative;
    left: clamp(1.2rem, 1vw, 10rem);
    font-size: clamp(1.2rem, 1.6vw, 10rem);
    display: none;
  }

  .app-name {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    box-shadow: 0px -15px 0px 0px red inset, -15px 0px 0px 0px red inset, 15px 0px 0px 0px red inset, 0px 15px 0px 0px red inset;
    width: 100%;
    border: 1px solid #fff;
    text-transform: uppercase;
    padding: 5px;
    font-size: clamp(1rem, 6vw, 9rem);
    box-shadow: 0px 0px 30px 0px #000;
    margin-bottom: 40px;
  }

  .appname {
    animation: app-name 1s ease-in-out infinite both;
  }

  @keyframes app-name {
    0% {

      color: red;

    }

    50% {

      color: black;

    }

    100% {

      color: aqua;

    }
  }

  .app-about {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: clamp(0.8rem, 2vw, 6rem);
    animation: app-about 1s ease-in-out infinite;
    box-shadow: 0px 0px 30px 0px #000;
    margin-bottom: 40px;
  }

  .note {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.7rem, 1.8vw, 7rem);
    color: red;
    font-weight: bolder;
    margin-bottom: 40px;
  }

  .requirements-title {
    color: black;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.9rem, 1.4vw, 6rem);
    padding-top: clamp(0.2rem, 0.8vw, 0.9rem);
    padding-bottom: clamp(0.2rem, 0.8vw, 0.9rem);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .platformtool-title {
    color: black;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.9rem, 1.4vw, 6rem);
    padding-top: clamp(0.2rem, 0.8vw, 0.9rem);
    padding-bottom: clamp(0.2rem, 0.8vw, 0.9rem);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .adbconnection-title {
    color: black;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.9rem, 1.4vw, 6rem);
    padding-top: clamp(0.2rem, 0.8vw, 0.9rem);
    padding-bottom: clamp(0.2rem, 0.8vw, 0.9rem);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .termuxadbconnection-title {
    color: black;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.9rem, 1.4vw, 6rem);
    padding-top: clamp(0.2rem, 0.8vw, 0.9rem);
    padding-bottom: clamp(0.2rem, 0.8vw, 0.9rem);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  /* title asterisks */
  .requirements-title::after {
    content: "*";
    color: red;
    font-size: clamp(1rem, 1.4vw, 5rem);
  }

  .platformtool-title::after {
    content: "*";
    color: red;
    font-size: clamp(1rem, 1.4vw, 5rem);
  }

  .adbconnection-title::after {
    content: "*";
    color: red;
    font-size: clamp(1rem, 1.4vw, 5rem);
  }

  .termuxadbconnection-title::after {
    content: "*";
    font-size: clamp(1rem, 1.4vw, 5rem);
    color: red;
  }

  .yesNo {
    width: clamp(10%, 1vw, 12%);
    border-radius: 10%;
    margin: 5px;
    padding: clamp(.1rem, .3vw, 2rem);
    border: clamp(.089rem, .2vw, .4rem) solid black;
    font-size: clamp(0.7rem, 1vw, 5rem);
    outline: none;
    text-align: center;
  }

  .requirements span {
    text-align: left;
    font-size: clamp(0.3rem, 2.12vw, 6rem);
    text-transform: lowercase;
    padding: 6px;
  }

  .platformtool span {
    text-align: left;
    font-size: clamp(0.3rem, 1.9vw, 6rem);
    text-transform: lowercase;
    padding: 10px;
  }

  .adbconnection span {
    text-align: left;
    font-size: clamp(0.3rem, 1.74vw, 6rem);
    text-transform: lowercase;
    padding: 10px;
  }

  .termuxadbconnection span {
    text-align: left;
    font-size: clamp(0.3rem, 1.64vw, 6rem);
    text-transform: lowercase;
    padding: 10px;
  }

  #R-status {
    text-transform: uppercase;
    width: fit-content;
    height: fit-content;
    font-weight: bolder;
    font-size: clamp(0.7rem, 1.4vw, 4rem);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    display: none;
    font-weight: bolder;
  }

  #P-status {
    text-transform: uppercase;
    width: fit-content;
    height: fit-content;
    font-weight: bolder;
    font-size: clamp(0.7rem, 1.4vw, 4rem);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    display: none;
    font-weight: bolder;
  }

  #A-status {
    text-transform: uppercase;
    width: fit-content;
    height: fit-content;
    font-weight: bolder;
    font-size: clamp(0.7rem, 1.4vw, 4rem);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    display: none;
    font-weight: bolder;
  }

  #T-status {
    text-transform: uppercase;
    width: fit-content;
    height: fit-content;
    font-weight: bolder;
    font-size: clamp(0.7rem, 1.4vw, 4rem);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    display: none;
    font-weight: bolder;
  }

  /* aestrisk symbol with status */
  #R-status::after {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.4vw, 4rem);
  }

  #R-status::before {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.4vw, 4rem);
  }

  #P-status::after {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.4vw, 4rem);
  }

  #P-status::before {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.4vw, 4rem);
  }

  #A-status::after {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.4vw, 4rem);
  }

  #A-status::before {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.4vw, 4rem);
  }

  #T-status::after {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.4vw, 4rem);
  }

  #T-status::before {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.4vw, 4rem);
  }
}

@media (min-width: 1920px) and (max-width: 2560px) {
  #cs {
    width: 100%;

    height: max-content;
    background-color: white;
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .contactsContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
  }

  .contactUs {
    width: 60%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 13px 0px #000;
    border-radius: 10%;
  }

  .myAccounts {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .links {
    text-decoration: none;
    width: 20%;
    height: 100%;
  }

  .socialsAccounts {
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;

  }

  .logo {
    font-size: 40px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: fit-content;
    width: 100%;
  }

  #fb-logo {
    color: black;
  }

  #ig-logo {
    color: hwb(346 30% 11%);
  }

  #github-logo {
    color: black;
  }

  #linkedin-logo {
    color: #0a61ec;
  }

  #yt-logo {
    color: red;
  }

  .boxes {
    width: 40%;
    margin-bottom: clamp(1.8rem, 5vw, 6rem);
    border: clamp(.1rem, .2vw, .4rem) solid #000;
    border: 20%;
  }

  .link {
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    position: relative;
    left: clamp(1.2rem, 1vw, 10rem);
    font-size: clamp(2rem, 1.6vw, 10rem);
    display: none;
  }

  .app-name {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    box-shadow: 4px 0px 0px 0px #000, -4px 0px 0px 0px #000, 0px 4px 0px 0px #000, 0px -4px 0px 0px #000;
    width: 100%;
    box-shadow: 0px 0px 40px 0px #000;
    text-transform: uppercase;
    padding: 2px;
    font-size: clamp(1rem, 6vw, 9rem);
    box-shadow: 0px 0px 40px 0px #000;
    margin-bottom: 50px;
  }

  .app-about {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: clamp(0.8rem, 2vw, 6rem);
    animation: app-about 1s ease-in-out infinite;
    box-shadow: 0px 0px 40px 0px #000;
    margin-bottom: 50px;
  }

  .note {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.7rem, 1.8vw, 7rem);
    color: red;
    font-weight: bolder;
    margin-bottom: 50px;
  }

  .requirements-title {
    color: black;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.9rem, 1.4vw, 6rem);
    padding-top: clamp(0.2rem, 0.8vw, 0.9rem);
    padding-bottom: clamp(0.2rem, 0.8vw, 0.9rem);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .platformtool-title {
    color: black;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.9rem, 1.4vw, 6rem);
    padding-top: clamp(0.2rem, 0.8vw, 0.9rem);
    padding-bottom: clamp(0.2rem, 0.8vw, 0.9rem);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .adbconnection-title {
    color: black;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.9rem, 1.4vw, 6rem);
    padding-top: clamp(0.2rem, 0.8vw, 0.9rem);
    padding-bottom: clamp(0.2rem, 0.8vw, 0.9rem);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .termuxadbconnection-title {
    color: black;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.9rem, 1.4vw, 6rem);
    padding-top: clamp(0.2rem, 0.8vw, 0.9rem);
    padding-bottom: clamp(0.2rem, 0.8vw, 0.9rem);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  /* title asterisks */
  .requirements-title::after {
    content: "*";
    color: red;
    font-size: clamp(1rem, 1.4vw, 5rem);
  }

  .platformtool-title::after {
    content: "*";
    color: red;
    font-size: clamp(1rem, 1.4vw, 5rem);
  }

  .adbconnection-title::after {
    content: "*";
    color: red;
    font-size: clamp(1rem, 1.4vw, 5rem);
  }

  .termuxadbconnection-title::after {
    content: "*";
    font-size: clamp(1rem, 1.4vw, 5rem);
    color: red;
  }

  .yesNo {
    width: clamp(10%, 1vw, 12%);
    border-radius: 10%;
    margin: 5px;
    padding: clamp(.1rem, .3vw, 2rem);
    border: clamp(.089rem, .2vw, .4rem) solid black;
    font-size: clamp(0.7rem, 1vw, 5rem);
    outline: none;
    text-align: center;
  }

  .requirements span {
    text-align: left;
    font-size: clamp(0.3rem, 2.12vw, 6rem);
    text-transform: lowercase;
    padding: 10px;
  }

  .platformtool span {
    text-align: left;
    font-size: clamp(0.3rem, 1.9vw, 6rem);
    text-transform: lowercase;
    padding: 10px;
  }

  .adbconnection span {
    text-align: left;
    font-size: clamp(0.3rem, 1.74vw, 6rem);
    text-transform: lowercase;
    padding: 10px;
  }

  .termuxadbconnection span {
    text-align: left;
    font-size: clamp(0.3rem, 1.64vw, 6rem);
    text-transform: lowercase;
    padding: 10px;
  }

  #R-status {
    text-transform: uppercase;
    width: fit-content;
    height: fit-content;
    font-weight: bolder;
    font-size: clamp(0.7rem, 1.4vw, 4rem);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    display: none;
    font-weight: bolder;
  }

  #P-status {
    text-transform: uppercase;
    width: fit-content;
    height: fit-content;
    font-weight: bolder;
    font-size: clamp(0.7rem, 1.4vw, 4rem);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    display: none;
    font-weight: bolder;
  }

  #A-status {
    text-transform: uppercase;
    width: fit-content;
    height: fit-content;
    font-weight: bolder;
    font-size: clamp(0.7rem, 1.4vw, 4rem);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    display: none;
    font-weight: bolder;
  }

  #T-status {
    text-transform: uppercase;
    width: fit-content;
    height: fit-content;
    font-weight: bolder;
    font-size: clamp(0.7rem, 1.4vw, 4rem);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    display: none;
    font-weight: bolder;
  }

  /* aestrisk symbol with status */
  #R-status::after {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.4vw, 4rem);
  }

  #R-status::before {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.4vw, 4rem);
  }

  #P-status::after {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.4vw, 4rem);
  }

  #P-status::before {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.4vw, 4rem);
  }

  #A-status::after {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.4vw, 4rem);
  }

  #A-status::before {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.4vw, 4rem);
  }

  #T-status::after {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.4vw, 4rem);
  }

  #T-status::before {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.4vw, 4rem);
  }
}

@media (min-width: 2560px) and (max-width: 3440px) {
  #cs {
    width: 100%;
    height: max-content;
    background-color: white;
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .contactsContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #fff;
  }

  .contactUs {
    width: 60%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px #000;
  }

  .myAccounts {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .links {
    text-decoration: none;
    width: 20%;
    height: 100%;
  }

  .socialsAccounts {
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;

  }

  .logo {
    font-size: 40px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: fit-content;
    width: 100%;
  }

  #fb-logo {
    color: blue;
  }

  #ig-logo {
    color: hwb(346 30% 11%);
  }

  #github-logo {
    color: black;
  }

  #linkedin-logo {
    color: #0a61ec;
  }

  #yt-logo {
    color: red;
  }

  .boxes {
    width: 50%;
    margin-bottom: clamp(1.8rem, 5vw, 6rem);
    border: clamp(.1rem, .2vw, .4rem) solid #000;
    border: 20%;

  }

  .link {
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    position: relative;
    left: clamp(1.2rem, 1vw, 10rem);
    font-size: clamp(2rem, 1.4vw, 10rem);
    display: none;
  }

  .app-name {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    box-shadow: 4px 0px 0px 0px #000, -4px 0px 0px 0px #000, 0px 4px 0px 0px #000, 0px -4px 0px 0px #000;
    width: 100%;
    box-shadow: 0px 0px 40px 0px #000;
    text-transform: uppercase;
    padding: 5px;
    font-size: clamp(1.2rem, 6vw, 9rem);
  }

  .app-about {
    width: 100%;
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: clamp(0.8rem, 2vw, 6rem);
    animation: app-about 1s ease-in-out infinite;
    box-shadow: 0px 0px 40px 0px #000;
    margin-bottom: 100px;
  }

  .note {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.7rem, 1.8vw, 7rem);
    color: red;
    font-weight: bolder;
    margin-bottom: 100px;
  }

  .requirements-title {
    color: black;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.9rem, 1.4vw, 6rem);
    padding-top: clamp(0.2rem, 0.8vw, 0.9rem);
    padding-bottom: clamp(0.2rem, 0.8vw, 0.9rem);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .platformtool-title {
    color: black;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.9rem, 1.4vw, 6rem);
    padding-top: clamp(0.2rem, 0.8vw, 0.9rem);
    padding-bottom: clamp(0.2rem, 0.8vw, 0.9rem);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .adbconnection-title {
    color: black;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.9rem, 1.4vw, 6rem);
    padding-top: clamp(0.2rem, 0.8vw, 0.9rem);
    padding-bottom: clamp(0.2rem, 0.8vw, 0.9rem);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .termuxadbconnection-title {
    color: black;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.9rem, 1.4vw, 6rem);
    padding-top: clamp(0.2rem, 0.8vw, 0.9rem);
    padding-bottom: clamp(0.2rem, 0.8vw, 0.9rem);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  /* title asterisks */
  .requirements-title::after {
    content: "*";
    color: red;
    font-size: clamp(1rem, 1.4vw, 5rem);
  }

  .platformtool-title::after {
    content: "*";
    color: red;
    font-size: clamp(1rem, 1.4vw, 5rem);
  }

  .adbconnection-title::after {
    content: "*";
    color: red;
    font-size: clamp(1rem, 1.4vw, 5rem);
  }

  .termuxadbconnection-title::after {
    content: "*";
    font-size: clamp(1rem, 1.4vw, 5rem);
    color: red;
  }

  .yesNo {
    width: clamp(10%, 1vw, 12%);
    border-radius: 10%;
    margin: 5px;
    padding: clamp(.1rem, .3vw, 2rem);
    border: clamp(.089rem, .2vw, .4rem) solid black;
    font-size: clamp(0.7rem, 1vw, 5rem);
    outline: none;
    text-align: center;
  }

  .requirements span {
    text-align: left;
    font-size: clamp(0.3rem, 2.3vw, 6rem);
    text-transform: lowercase;
    padding: 10px;
  }

  .platformtool span {
    text-align: left;
    font-size: clamp(0.3rem, 2.2vw, 6rem);
    text-transform: lowercase;
    padding: 10px;
  }

  .adbconnection span {
    text-align: left;
    font-size: clamp(0.3rem, 2vw, 6rem);
    text-transform: lowercase;
    padding: 10px;
  }

  .termuxadbconnection span {
    text-align: left;
    font-size: clamp(0.3rem, 1.87vw, 6rem);
    text-transform: lowercase;
    padding: 10px;
  }

  #R-status {
    text-transform: uppercase;
    width: fit-content;
    height: fit-content;
    font-weight: bolder;
    font-size: clamp(0.7rem, 1.4vw, 4rem);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    display: none;
    font-weight: bolder;
  }

  #P-status {
    text-transform: uppercase;
    width: fit-content;
    height: fit-content;
    font-weight: bolder;
    font-size: clamp(0.7rem, 1.4vw, 4rem);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    display: none;
    font-weight: bolder;
  }

  #A-status {
    text-transform: uppercase;
    width: fit-content;
    height: fit-content;
    font-weight: bolder;
    font-size: clamp(0.7rem, 1.4vw, 4rem);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    display: none;
    font-weight: bolder;
  }

  #T-status {
    text-transform: uppercase;
    width: fit-content;
    height: fit-content;
    font-weight: bolder;
    font-size: clamp(0.7rem, 1.4vw, 4rem);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    display: none;
    font-weight: bolder;
  }

  /* aestrisk symbol with status */
  #R-status::after {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.4vw, 4rem);
  }

  #R-status::before {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.4vw, 4rem);
  }

  #P-status::after {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.4vw, 4rem);
  }

  #P-status::before {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.4vw, 4rem);
  }

  #A-status::after {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.4vw, 4rem);
  }

  #A-status::before {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.4vw, 4rem);
  }

  #T-status::after {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.4vw, 4rem);
  }

  #T-status::before {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.4vw, 4rem);
  }
}

@media (min-width: 3440px) and (max-width: 3840px) {
  #cs {
    width: 100%;

    height: max-content;
    background-color: white;
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .contactsContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
  }

  .contactUs {
    width: 60%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 13px 0px #000;
    border-radius: 10%;
  }

  .myAccounts {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .links {
    text-decoration: none;
    width: 20%;
    height: 100%;
  }

  .socialsAccounts {
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;

  }

  .logo {
    font-size: 40px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: fit-content;
    width: 100%;
  }

  #fb-logo {
    color: blue;
  }

  #ig-logo {
    color: hwb(346 30% 11%);
  }

  #github-logo {
    color: black;
  }

  #linkedin-logo {
    color: #0a61ec;
  }

  #yt-logo {
    color: red;
  }

  .boxes {
    width: 50%;
    margin-bottom: clamp(1.8rem, 5vw, 6rem);
    border: clamp(.1rem, .2vw, .4rem) solid #000;
    border: 20%;
  }

  .link {
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    position: relative;
    left: clamp(1.2rem, 1vw, 10rem);
    font-size: clamp(2rem, 1.4vw, 10rem);
    display: none;
  }

  .app-name {
    display: flex;
    margin-bottom: 100px;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    box-shadow: 4px 0px 0px 0px #000, -4px 0px 0px 0px #000, 0px 4px 0px 0px #000, 0px -4px 0px 0px #000;
    width: 100%;
    box-shadow: 0px 0px 40px 0px #000;
    text-transform: uppercase;
    padding: 5px;
    font-size: clamp(1.2rem, 5vw, 20rem);
  }

  .app-about {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: clamp(0.8rem, 2.3vw, 10rem);
    animation: app-about 1s ease-in-out infinite;
    margin-bottom: 100px;
    box-shadow: 0px 0px 40px 0px #000;
  }

  .note {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.7rem, 2vw, 7rem);
    color: red;
    font-weight: bolder;
    margin-bottom: 100px;
  }

  .requirements-title {
    color: black;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.9rem, 1.8vw, 6rem);
    padding-top: clamp(0.2rem, 0.8vw, 0.9rem);
    padding-bottom: clamp(0.2rem, 0.8vw, 0.9rem);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .platformtool-title {
    color: black;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.9rem, 1.8vw, 6rem);
    padding-top: clamp(0.2rem, 0.8vw, 0.9rem);
    padding-bottom: clamp(0.2rem, 0.8vw, 0.9rem);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .adbconnection-title {
    color: black;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.9rem, 1.8vw, 6rem);
    padding-top: clamp(0.2rem, 0.8vw, 0.9rem);
    padding-bottom: clamp(0.2rem, 0.8vw, 0.9rem);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .termuxadbconnection-title {
    color: black;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.9rem, 1.8vw, 6rem);
    padding-top: clamp(0.2rem, 0.8vw, 0.9rem);
    padding-bottom: clamp(0.2rem, 0.8vw, 0.9rem);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  /* title asterisks */
  .requirements-title::after {
    content: "*";
    color: red;
    font-size: clamp(1rem, 1.4vw, 5rem);
  }

  .platformtool-title::after {
    content: "*";
    color: red;
    font-size: clamp(1rem, 1.4vw, 5rem);
  }

  .adbconnection-title::after {
    content: "*";
    color: red;
    font-size: clamp(1rem, 1.4vw, 5rem);
  }

  .termuxadbconnection-title::after {
    content: "*";
    font-size: clamp(1rem, 1.4vw, 5rem);
    color: red;
  }

  .yesNo {
    width: clamp(10%, 1vw, 12%);
    border-radius: 10%;
    margin: 5px;
    padding: clamp(.1rem, .3vw, 2rem);
    border: clamp(.089rem, .2vw, .4rem) solid black;
    font-size: clamp(0.7rem, 1vw, 5rem);
    outline: none;
    text-align: center;
  }

  .requirements span {
    text-align: left;
    font-size: clamp(0.3rem, 2.3vw, 10rem);
    text-transform: lowercase;
    padding: 10px;
  }

  .platformtool span {
    text-align: left;
    font-size: clamp(0.3rem, 2.1vw, 10rem);
    text-transform: lowercase;
    padding: 10px;
  }

  .adbconnection span {
    text-align: left;
    font-size: clamp(0.3rem, 1.9vw, 10rem);
    text-transform: lowercase;
    padding: 10px;
  }

  .termuxadbconnection span {
    text-align: left;
    font-size: clamp(0.3rem, 1.6vw, 10rem);
    text-transform: lowercase;
    padding: 10px;
  }

  #R-status {
    text-transform: uppercase;
    width: fit-content;
    height: fit-content;
    font-weight: bolder;
    font-size: clamp(0.7rem, 1.8vw, 10rem);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    display: none;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #P-status {
    text-transform: uppercase;
    width: fit-content;
    height: fit-content;
    font-weight: bolder;
    font-size: clamp(0.7rem, 1.8vw, 10rem);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    display: none;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #A-status {
    text-transform: uppercase;
    width: fit-content;
    height: fit-content;
    font-weight: bolder;
    font-size: clamp(0.7rem, 1.8vw, 10rem);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    display: none;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #T-status {
    text-transform: uppercase;
    width: fit-content;
    height: fit-content;
    font-weight: bolder;
    font-size: clamp(0.7rem, 1.8vw, 10rem);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    display: none;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* aestrisk symbol with status */
  #R-status::after {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.8vw, 7rem);
  }

  #R-status::before {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.8vw, 7rem);
  }

  #P-status::after {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.8vw, 7rem);
  }

  #P-status::before {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.8vw, 7rem);
  }

  #A-status::after {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.8vw, 7rem);
  }

  #A-status::before {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.8vw, 7rem);
  }

  #T-status::after {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.8vw, 7rem);
  }

  #T-status::before {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.8vw, 7rem);
  }
}

@media (min-width: 5120px) and (max-width: 6000px) {
  .boxes {
    width: 50%;
    margin-bottom: clamp(1.8rem, 4.4vw, 6rem);
    border: clamp(.1rem, .2vw, .4rem) solid #000;
    border: 20%;
  }

  #cs {
    width: 100%;
    height: max-content;
    background-color: white;
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .contactsContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
  }

  .contactUs {
    width: 60%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 13px 0px #000;
    border-radius: 10%;
  }

  .myAccounts {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .links {
    text-decoration: none;
    width: 20%;
    height: 100%;
  }

  .socialsAccounts {
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;

  }

  .logo {
    font-size: 40px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: fit-content;
    width: 100%;
  }

  #fb-logo {
    color: blue;
  }

  #ig-logo {
    color: hwb(346 30% 11%);
  }

  #github-logo {
    color: black;
  }

  #linkedin-logo {
    color: #0a61ec;
  }

  #yt-logo {
    color: red;
  }

  .link {
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    position: relative;
    left: clamp(1.2rem, 1vw, 10rem);
    font-size: clamp(2rem, 1.4vw, 10rem);
    display: none;
  }

  .app-name {
    display: flex;
    margin-bottom: 100px;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 0px 0px 0px red;
    width: 100%;
    background-color: yellow;
    text-transform: uppercase;
    padding: 5px;
    font-size: clamp(1.2rem, 5vw, 20rem);
    box-shadow: 0px 0px 50px 0px #000;
  }

  .app-about {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: clamp(0.8rem, 2.3vw, 10rem);
    animation: app-about 1s ease-in-out infinite;
    margin-bottom: 100px;
    box-shadow: 0px 0px 50px 0px #000;
  }

  .note {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.7rem, 2vw, 7rem);
    color: red;
    font-weight: bolder;
    margin-bottom: 100px;
  }

  .requirements-title {
    color: black;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.9rem, 1.8vw, 6rem);
    padding-top: clamp(0.2rem, 0.8vw, 0.9rem);
    padding-bottom: clamp(0.2rem, 0.8vw, 0.9rem);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .platformtool-title {
    color: black;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.9rem, 1.8vw, 6rem);
    padding-top: clamp(0.2rem, 0.8vw, 0.9rem);
    padding-bottom: clamp(0.2rem, 0.8vw, 0.9rem);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .adbconnection-title {
    color: black;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.9rem, 1.8vw, 6rem);
    padding-top: clamp(0.2rem, 0.8vw, 0.9rem);
    padding-bottom: clamp(0.2rem, 0.8vw, 0.9rem);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .termuxadbconnection-title {
    color: black;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.9rem, 1.8vw, 6rem);
    padding-top: clamp(0.2rem, 0.8vw, 0.9rem);
    padding-bottom: clamp(0.2rem, 0.8vw, 0.9rem);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  /* title asterisks */
  .requirements-title::after {
    content: "*";
    color: red;
    font-size: clamp(1rem, 1.4vw, 5rem);
  }

  .platformtool-title::after {
    content: "*";
    color: red;
    font-size: clamp(1rem, 1.4vw, 5rem);
  }

  .adbconnection-title::after {
    content: "*";
    color: red;
    font-size: clamp(1rem, 1.4vw, 5rem);
  }

  .termuxadbconnection-title::after {
    content: "*";
    font-size: clamp(1rem, 1.4vw, 5rem);
    color: red;
  }

  .yesNo {
    width: clamp(10%, 1vw, 12%);
    border-radius: 10%;
    margin: 5px;
    padding: clamp(.1rem, .3vw, 2rem);
    border: clamp(.089rem, .2vw, .4rem) solid black;
    font-size: clamp(0.7rem, 1vw, 5rem);
    outline: none;
    text-align: center;
  }

  .requirements span {
    text-align: left;
    font-size: clamp(0.3rem, 2.6vw, 10rem);
    text-transform: lowercase;
    padding: 10px;
  }

  .platformtool span {
    text-align: left;
    font-size: clamp(0.3rem, 2.4vw, 10rem);
    text-transform: lowercase;
    padding: 10px;
  }

  .adbconnection span {
    text-align: left;
    font-size: clamp(0.3rem, 2.2vw, 10rem);
    text-transform: lowercase;
    padding: 10px;
  }

  .termuxadbconnection span {
    text-align: left;
    font-size: clamp(0.3rem, 2vw, 10rem);
    text-transform: lowercase;
    padding: 10px;
  }

  #R-status {
    text-transform: uppercase;
    width: fit-content;
    height: fit-content;
    font-weight: bolder;
    font-size: clamp(0.7rem, 1.8vw, 10rem);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    display: none;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #P-status {
    text-transform: uppercase;
    width: fit-content;
    height: fit-content;
    font-weight: bolder;
    font-size: clamp(0.7rem, 1.8vw, 10rem);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    display: none;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #A-status {
    text-transform: uppercase;
    width: fit-content;
    height: fit-content;
    font-weight: bolder;
    font-size: clamp(0.7rem, 1.8vw, 10rem);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    display: none;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #T-status {
    text-transform: uppercase;
    width: fit-content;
    height: fit-content;
    font-weight: bolder;
    font-size: clamp(0.7rem, 1.8vw, 10rem);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    display: none;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* aestrisk symbol with status */
  #R-status::after {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.8vw, 7rem);
  }

  #R-status::before {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.8vw, 7rem);
  }

  #P-status::after {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.8vw, 7rem);
  }

  #P-status::before {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.8vw, 7rem);
  }

  #A-status::after {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.8vw, 7rem);
  }

  #A-status::before {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.8vw, 7rem);
  }

  #T-status::after {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.8vw, 7rem);
  }

  #T-status::before {
    content: "*";
    color: black;
    font-size: clamp(0.7rem, 1.8vw, 7rem);
  }
}

.aal-script {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.aal-copy {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bolder;
  font-size: clamp(1rem, 1.2vw, 3rem);
  text-transform: lowercase;
  color: red;
  width: 100%;

}

.aal-box {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.aal-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bolder;
  font-size: clamp(1rem, 1.5vw, 3rem);
  text-transform: lowercase;
  color: blue;
  width: 100%;
  white-space: normal;
  /* Allow text to wrap */
  word-wrap: break-word;
}