* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
body {
  height: 100%;
  width: 100%;
  background-color: #f4f4f4;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #000;
  text-transform: uppercase;
  padding: 8px;
  font-size: clamp(1.3rem,6vw,80px);
}
@keyframes aal {
  0% {
    transform: translateY(-2px);
    color: blue;
  }
  50% {
    transform: translateY(2px);
    color: #32cd32;
  }
  100% {
    transform: translateY(-2px);
    color: blue;
  }
}
  .aal{
    animation: aal 6s ease-in-out 0s  infinite; /* Adjust the duration and easing */
    padding-left: 6px;
  padding-right: 6px;
  }
  @keyframes aal-2 {
    0% {
      color: blue;
    }
    50% {

      color: red;
    }
    100% {
      color: blue;
    }
  }
  .aal-2{
    animation: aal-2 2s ease-in-out infinite; /* Adjust the duration and easing */
    padding-left: 1px;
  padding-right: 1px;
    

  }

.app-about {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: clamp(1rem, 2vw, 2.5rem);
}
.app-requirements {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.app-requirements-box{
  height: 100%;
  max-height:1000px;
  width: 90%;
  max-width:600px;
  display: flex;
flex-direction: column;
  background-color: #ffffff;
  border-radius: 2%;
  border: 1px solid #292929;
  box-shadow: -3px 0 5px 0px #ccc inset,3px 0 5px 0px #ccc inset,0px -3px 5px 0px #ccc inset,0 3px 5px 0px #ccc inset;
}
.requirements{
  padding: clamp(.099rem,.66vw,2rem);
}
input[type="checkbox"]{
  position: relative;
  left: 32px;
  height: 20px;
  width: 20px;
margin-bottom: 10px;
border: 2px solid #000;
}
.requirements-checkboxes:checked{
  accent-color: rgb(17, 237, 28);
  box-shadow: 0 0 2px 1px greenyellow inset;
}
.requirements-checkboxes:hover{
  box-shadow: 0 0 10px 1px #ccc ;
}

.requirements span{
text-align: left;
font-size: clamp(.887rem,3vw,100px);
text-transform: capitalize;
}