* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  background-color: #f4f4f4;
}
:root{
  --shadow-size:clamp(1rem,1vw,4rem);
  --shadow-spread:clamp(.1rem,.1vw,4rem);
  --shadow-blur:clamp(.2rem,.3vw,4rem);
}
.link{
  width: fit-content;
  height: fit-content;
  text-decoration: none;
  position: relative;
  left: 15px;
  display: none;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color:#585858;
  text-transform: uppercase;
  padding: 8px;
  font-size: clamp(1rem, 6.9vw, 9rem);
}
@keyframes aal {
  0% {
    transform: translateY(-5px);
    color: red;
  }
  50% {
    transform: translateY(5px);
    color: black;
  }
  100% {
    transform: translateY(-5px);
    color: aqua;
  }
}
.aal {
  animation: aal 4s ease-in-out 0s infinite; /* Adjust the duration and easing */
  padding-left: clamp(1rem, 3vw, 4rem);
}
.aal-2 {
  animation: aal-2 4s ease-in-out infinite; /* Adjust the duration and easing */
  color: azure;
}
@keyframes aal-2 {
  0% {
    transform: translateY(-2px);
    color: red;
  }
  50% {
    transform: translateY(2px);
    color: black;
  }
  100% {
    transform: translateY(-2px);
    color: aqua;
  }
}
.app-about {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: clamp(.8rem, 4.3vw, 6rem);
  animation: app-about 1s ease-in-out infinite;
}
.note {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(.6rem, 3.5vw, 7rem);
 color: red;
 font-weight: bolder;
}
@keyframes app-about {
  0% {
    color: blue;
  }
  50% {
    color: #32cd32;
  }
  100% {
    color: red;
  }
}
input[type="checkbox"]{
    width: clamp(12px,5vw,200px);
    outline: none;
    height: clamp(12px,5vh,200px);
    border: none;
   margin-left: clamp(1rem,1vw,6rem);
   margin-top: clamp(.2rem,1vw,1rem);
   margin-bottom: clamp(.2rem,1vw,.1rem);
}
input[type="checkbox"]:checked{
  border: none;
  outline: none;
  accent-color: #32cd32;
}
/* boxes */
.app-requirements-box {
  width: 95%;
  max-width: clamp(30%, 39vw, 100%);
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 2%;
  box-shadow: 0 0 var(--shadow-size)  2px #000;
  margin-top: clamp(1rem,2.2vw,6rem);
}
.app-platformtool-box {
  width: 95%;
  max-width: clamp(30%, 39vw, 100%);
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 2%;
  box-shadow: 0 0 var(--shadow-size)  2px #000;
  margin-top: clamp(1rem,2.2vw,6rem);
}
.app-adbconnection-box {
  width: 95%;
  max-width: clamp(30%, 39vw, 100%);
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 2%;
  box-shadow: 0 0 var(--shadow-size)  2px #000;
  margin-top: clamp(1rem,2.2vw,6rem);
}
.app-termuxadbconnection-box {
  width: 95%;
  max-width: clamp(30%, 39vw, 100%);
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 2%;
  box-shadow: 0 0 var(--shadow-size)  2px #000;
  margin-top: clamp(1rem,2.2vw,6rem);
}
/* verification-container*/
.platformtool-verification {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.adbconnection-verification {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.termuxadbconnection-verification {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* verified */
.platformtool-verified {
  width: 30%;
  max-width: clamp(15rem, 9vw, 20rem);
  border: none;
  outline: none;
  text-align: center;
  border-radius: clamp(2%,1vw,5%);
  margin: clamp(.4rem,1vw,4rem);
  padding: clamp(.6rem,3vw,6rem);
  box-shadow: 0 0 var(--shadow-blur) var(--shadow-spread) red inset;
  font-size: clamp(1.2rem,4vw,4rem);
}
.Aadbconnection-verified {
  width: 30%;
  max-width: clamp(15rem, 9vw, 20rem);
  border: none;
  outline: none;
  text-align: center;
  border-radius: clamp(2%,1vw,5%);
  margin: clamp(.4rem,1vw,4rem);
  padding: clamp(.6rem,3vw,6rem);
  box-shadow: 0 0 var(--shadow-blur) var(--shadow-spread) red inset;
  font-size: clamp(1.2rem,4vw,4rem);
}
.termuxadbconnection-verified {
  width: 30%;
  max-width: clamp(15rem, 9vw, 20rem);
  border: none;
  outline: none;
  text-align: center;
  border-radius: clamp(2%,1vw,5%);
  margin: clamp(.4rem,1vw,4rem);
  padding: clamp(.6rem,3vw,6rem);
  box-shadow: 0 0 var(--shadow-blur) var(--shadow-spread) red inset;
  font-size: clamp(1.2rem,4vw,4rem);
}
.platformtool-verified::placeholder{
  font-size: clamp(1rem,3vw,4rem);
}
.Aadbconnection-verified::placeholder{
  font-size: clamp(1rem,3vw,4rem);
}
.termuxadbconnection-verified::placeholder{
  font-size: clamp(1rem,3vw,4rem);
}

/* titles */
.requirements-title {
  color: black;
  font-weight:bold;
  width: 100%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(.9rem, 3vw, 6rem);
  padding-top: clamp(.2rem,.2vw,0.9rem);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.platformtool-title {
  color: black;
  font-weight:bold;
  width: 100%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(.9rem, 3vw, 6rem);
  padding-top: clamp(.2rem,.2vw,0.9rem);
  font-family: Verdana, Geneva, Tahoma, sans-serif;}
.adbconnection-title {
  color: black;
  font-weight:bold;
  width: 100%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(.9rem, 3vw, 6rem);
  padding-top: clamp(.2rem,.2vw,0.9rem);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.termuxadbconnection-title {
  color: black;
  font-weight:bold;
  width: 100%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(.9rem, 3vw, 6rem);
  padding-top: clamp(.2rem,.2vw,0.9rem);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* title asterisks */
.requirements-title::after {
  content: "*";
  color: red;
  font-size: clamp(1rem,5vw,5rem);
}
.platformtool-title::after {
  content: "*";
  color: red;
  font-size: clamp(1rem,5vw,5rem);
}
.adbconnection-title::after {
  content: "*";
  color: red;
  font-size: clamp(1rem,5vw,5rem);
}
.termuxadbconnection-title::after {
  content: "*";
  font-size: clamp(1rem,5vw,5rem);
  color: red;
}
/* all boxes labels */
.requirements span {
  text-align: left;
  padding: 10px;
  font-size: clamp(.7rem, 4.17vw, 7rem);
  text-transform: lowercase;
 
}
.platformtool span {
  text-align: left;
  font-size: clamp(.7rem, 3.89vw, 7rem);
  text-transform: lowercase;
  padding: 10px;
}
.adbconnection span {
  text-align: left;
  font-size: clamp(.6rem, 3.68vw, 7rem);
  text-transform: lowercase;
  padding: 10px;
}
.termuxadbconnection span {
  text-align: left;
  font-size: clamp(.7rem, 3.28vw, 7rem);
  text-transform: lowercase;
  padding: 10px;
}
/* all box-containers*/
.app-requirements {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-adbconnection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-platformtool {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-termuxadbconnection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* status-containers*/
.requirements-completed{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.platformtool-installed{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.adbconnection-connected{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.termuxadbconnection-connected{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
/*status*/
#R-status{
  text-transform: uppercase;
  width: fit-content;
  height: fit-content;
  font-weight: bolder;
  font-size: clamp(0.7rem, 4vw, 4rem);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: none;
  font-weight: bolder;
}
#P-status{
  text-transform: uppercase;
  width: fit-content;
  height: fit-content;
  font-weight: bolder;
  font-size: clamp(0.7rem, 4vw, 4rem);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: none;
  font-weight: bolder;
}
#A-status{
  text-transform: uppercase;
  width: fit-content;
  height: fit-content;
  font-weight: bolder;
  font-size: clamp(0.7rem, 4vw, 4rem);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: none;
  font-weight: bolder;
}
#T-status{
  text-transform: uppercase;
  width: fit-content;
  height: fit-content;
  font-weight: bolder;
  font-size: clamp(0.7rem, 4vw, 4rem);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: none;
  font-weight: bolder;
}
/* aestrisk symbol with status */
#R-status::after{
  content: "*";
  color: red;
  font-size: clamp(.8rem,4vw,6rem);
}
#R-status::before{
  content: "*";
  color: red;
  font-size: clamp(.8rem,4vw,6rem);
}
#P-status::after{
  content: "*";
  color: red;
  font-size: clamp(.8rem,4vw,6rem);
}
#P-status::before{
  content: "*";
  color: red;
  font-size: clamp(.8rem,4vw,6rem);
}
#A-status::after{
  content: "*";
  color: red;
  font-size: clamp(.8rem,4vw,6rem);
}
#A-status::before{
  content: "*";
  color: red;
  font-size: clamp(.8rem,4vw,6rem);
}
#T-status::after{
  content: "*";
  color: red;
  font-size: clamp(.8rem,4vw,6rem);
}
#T-status::before{
  content: "*";
  color: red;
  font-size: clamp(.8rem,4vw,6rem);
}


/* animation on requirements completed on requirements box*/
@keyframes reqBox {
  0%{
    box-shadow: 0 0 0px 5px #32cd32;
  }
  50%{
    box-shadow: 0 0 0px 2px #32cd32;
  }
  100%{
    box-shadow: 0 0 0px  5px #32cd32;
  }
}
@keyframes Status {
  0%{
    color:  blue;
    transform: translateX(-5px);

  }
  50%{
    color:  blue;
    transform: translateX(5px);

  }
  100%{
    color:  blue;
    transform: translateX(-5px);
  }
}